<%
var pageID = "calendar";
var lang = "ja";
var relative_path = "../../";
var myMeta = meta[lang][pageID];
%>
<!DOCTYPE html>
<html lang="<%= lang %>">
  <%-include(`${relative_path}_partial/_head`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
  <body>
    <div class="page">
      <%-include(`${relative_path}_partial/_header`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
      <article class="event__wrapper">
        <div class="event__bg"></div>
        <p class="common__bread l-page">
          <span
            ><a href="https://test-bloom-your-future-katsushika.entacl.net/"
              >TOP</a
            ></span
          ><span>イベントカレンダー</span>
        </p>
        <h1 class="common__h1 event__h1">イベント情報</h1>
        <form class="event__calendar-search" action="" method="get">
          <div class="event__calendar-flex top">
            <input type="hidden" name="y" value="">
            <input type="hidden" name="mo" value="">
            <p class="before">＜9月/2026</p>
            <strong>10月</strong>
            <p class="after">11月/2026＞</p>
          </div>
          <div class="event__calendar-flex area bot pc-none">
            <input type="hidden" name="area" id="areaInput" value="">
            <input type="hidden" name="area_order" id="areaOrderInput" value="">
            <div class="event__calendar-label"></div>
            <div class="event__calendar-box area">
              <span
                class="event__calendar-select--area"
                data-area="main"
                data-id="0"
                >メインエリア<span class="btn-close"></span
              ></span>
              <span
                class="event__calendar-select--area"
                data-area="kochi"
                data-id="2"
                >こち亀エリア<span class="btn-close"></span
              ></span>
              <span
                class="event__calendar-select--area"
                data-area="monchi"
                data-id="5"
                >モンチッチエリア<span class="btn-close"></span
              ></span>
              <span
                class="event__calendar-select--area"
                data-area="wing"
                data-id="4"
                >翼エリア<span class="btn-close"></span
              ></span>
              <span
                class="event__calendar-select--area"
                data-area="iris"
                data-id="3"
                >堀切菖蒲園<span class="btn-close"></span
              ></span>
              <span
                class="event__calendar-select--area"
                data-area="tora"
                data-id="1"
                >寅さんエリア<span class="btn-close"></span
              ></span>
            </div>
            <div class="event__form-modal area" data-modal="modal1">
              <h5 class="pc-none">イベントエリア</h5>
              <div class="event__modal-flex area pc-none">
                <div class="event__form-label area" for="eventArea"></div>
                <div class="event__form-box area in-modal">
                  <span
                    class="event__form-select--area main"
                    data-area="main"
                    data-id="0"
                    >メインエリア<span class="btn-close"></span
                  ></span>
                  <span
                    class="event__form-select--area kochi"
                    data-area="kochi"
                    data-id="2"
                    >こち亀エリア<span class="btn-close"></span
                  ></span>
                  <span
                    class="event__form-select--area monchi"
                    data-area="monchi"
                    data-id="5"
                    >モンチッチエリア<span class="btn-close"></span
                  ></span>
                  <span
                    class="event__form-select--area wing"
                    data-area="wing"
                    data-id="4"
                    >翼エリア<span class="btn-close"></span
                  ></span>
                  <span
                    class="event__form-select--area iris"
                    data-area="iris"
                    data-id="3"
                    >堀切菖蒲園<span class="btn-close"></span
                  ></span>
                  <span
                    class="event__form-select--area tora"
                    data-area="tora"
                    data-id="1"
                    >寅さんエリア<span class="btn-close"></span
                  ></span>
                </div>
              </div>
              <div class="event__modal-map">
                <picture>
                  <img
                    src="<%= relative_path %>assets/img/event/modal_area.png"
                    alt=""
                  >
                </picture>
                <ul>
                  <li class="map-btn" data-area="main" data-id="0">
                    メインエリア
                  </li>
                  <li class="map-btn" data-area="tora" data-id="1">
                    寅さんエリア
                  </li>
                  <li class="map-btn" data-area="kochi" data-id="2">
                    こち亀エリア
                  </li>
                  <li class="map-btn" data-area="iris" data-id="3">
                    堀切菖蒲園
                  </li>
                  <li class="map-btn" data-area="wing" data-id="4">
                    翼エリア
                  </li>
                  <li class="map-btn" data-area="monchi" data-id="5">
                    モンチッチエリア
                  </li>
                </ul>
              </div>
              <button class="event__modal-map-btn" type="button">
                現在地付近
              </button>
              <button class="common__btn-i event__modal-btn" type="submit">
                検索する
              </button>
              <button class="event__modal-next" type="button">
                スキップする＞
              </button>
              <button class="event__modal-close" type="button">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </form>
        <section class="event__box">
          <h3 class="event__h3">検索結果<span>15</span>件</h3>
          <ul class="event__box-list">
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="main">メインエリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="main">メインエリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="kochi">こち亀エリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="kochi">こち亀エリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="monchi">モンチッチエリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="monchi">モンチッチエリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="wing">翼エリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="wing">翼エリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="iris">堀切菖蒲園</span>
              </a>
            </li>
          </ul>
          <div class="event__pagination">
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button class="small"></button>
            <button class="small"></button>
            <button class="small"></button>
            <button class="arrow-next"></button>
          </div>
        </section>
        <a class="common__btn-i event__btn back" href="../">
          イベント情報へもどる
        </a>
      </article>
      <%-include(`${relative_path}_partial/_footer`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
    </div>
    <%- include( `${relative_path}_partial/_foot`,{lang:lang,pageID:pageID,relative_path:relative_path}) %>
  </body>
</html>
