<%
var pageID = "sponsors";
var lang = "ja";
var relative_path = "../";
var myMeta = meta[lang][pageID];
%>
<!DOCTYPE html>
<html lang="<%= lang %>">
  <%-include(`${relative_path}_partial/_head`,{lang:lang,pageID:pageID,relative_path:relative_path})%>

  <body>
    <div class="page">
      <%-include(`${relative_path}_partial/_header`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
      <article class="sponsors__wrapper">
        <div class="sponsors__bg"></div>
        <p class="common__bread l-page">
          <span
            ><a href="https://test-bloom-your-future-katsushika.entacl.net/"
              >TOP</a
            ></span
          ><span>募集情報</span>
        </p>
        <h1 class="sponsors__h1">募集情報</h1>
        <nav class="sponsors__nav">
          <ul class="sponsors__nav--list">
            <li class="sponsors__nav--item">
              <a href="#anchor-individual">個人向け</a>
            </li>
            <li class="sponsors__nav--item">
              <a href="#anchor-group">
                企業・団体向け
              </a>
            </li>
          </ul>
        </nav>
        <a href="list/index.html" class="sponsors__btn">
          <span>協力企業・団体一覧はこちら</span>
        </a>
        <section id="anchor-individual" class="sponsors__section">
          <h2 class="sponsors__h2">
            <span>個人向け</span>
          </h2>
          <p class="sponsors__text">
            個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります
            個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります個人向けの説明入ります
          </p>
          <p class="sponsors__zero-txt">該当する募集はありませんでした。</p>
          <ul class="sponsors__box-list">
            <li>
              <a class="sponsors__box-item" href="">
                <div class="sponsors__box-img">
                  <img
                    src="<%= relative_path %>assets/img/sponsors/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="sponsors__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="sponsors__box-ttl">
                  募集名入ります募集名入ります募集名入ります募集名入ります募集名入ります
                </h4>
              </a>
            </li>
            <li>
              <a class="sponsors__box-item" href="">
                <div class="sponsors__box-img">
                  <img
                    src="<%= relative_path %>assets/img/sponsors/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="sponsors__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="sponsors__box-ttl">
                  募集名入ります募集名入ります募集名入ります募集名入ります募集名入ります
                </h4>
              </a>
            </li>
            <li>
              <a class="sponsors__box-item" href="">
                <div class="sponsors__box-img">
                  <img
                    src="<%= relative_path %>assets/img/sponsors/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="sponsors__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="sponsors__box-ttl">
                  募集名入ります募集名入ります募集名入ります募集名入ります募集名入ります
                </h4>
              </a>
            </li>
            <li>
              <a class="sponsors__box-item" href="">
                <div class="sponsors__box-img">
                  <img
                    src="<%= relative_path %>assets/img/sponsors/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="sponsors__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="sponsors__box-ttl">
                  募集名入ります募集名入ります募集名入ります募集名入ります募集名入ります
                </h4>
              </a>
            </li>
          </ul>
        </section>
        <section id="anchor-group" class="sponsors__section">
          <h2 class="sponsors__h2">
            <span>企業・団体向け</span>
          </h2>
          <p class="sponsors__text">
            開催テーマに基づき、多種多様な団体や企業に出典募集します。<br>
            また来場者の興味やニーズに合わせた出典内容にすることで、本フェアの統一感を高め、出店者のみならず主催者、来場者等の一体感を高めます。<br>
            これらの協賛展示により、新たなコミュニティを形成し、本フェア終了後も活動や購入等の継続を目指します。
          </p>
          <p class="sponsors__zero-txt">該当する募集はありませんでした。</p>
          <ul class="sponsors__box-list">
            <li>
              <a class="sponsors__box-item" href="">
                <div class="sponsors__box-img">
                  <img
                    src="<%= relative_path %>assets/img/sponsors/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="sponsors__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="sponsors__box-ttl">
                  募集名入ります募集名入ります募集名入ります募集名入ります募集名入ります
                </h4>
              </a>
            </li>
            <li>
              <a class="sponsors__box-item" href="">
                <div class="sponsors__box-img">
                  <img
                    src="<%= relative_path %>assets/img/sponsors/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="sponsors__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="sponsors__box-ttl">
                  募集名入ります募集名入ります募集名入ります募集名入ります募集名入ります
                </h4>
              </a>
            </li>
            <li>
              <a class="sponsors__box-item" href="">
                <div class="sponsors__box-img">
                  <img
                    src="<%= relative_path %>assets/img/sponsors/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="sponsors__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="sponsors__box-ttl">
                  募集名入ります募集名入ります募集名入ります募集名入ります募集名入ります
                </h4>
              </a>
            </li>
          </ul>
        </section>
      </article>
      <%-include(`${relative_path}_partial/_footer`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
    </div>
    <%- include( `${relative_path}_partial/_foot`,{lang:lang,pageID:pageID,relative_path:relative_path}) %>
  </body>
</html>
