<%
var pageID = "purpose";
var lang = "ja";
var relative_path = "../../";
var myMeta = meta[lang][pageID];
%>
<!DOCTYPE html>
<html lang="<%= lang %>">
  <%-include(`${relative_path}_partial/_head`,{lang:lang,pageID:pageID,relative_path:relative_path})%>

  <body>
    <div class="page">
      <%-include(`${relative_path}_partial/_header`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
      <article class="purpose__wrapper">
        <div class="purpose__bg"></div>
        <p class="common-bread purpose__bread">
          <span>TOP</span><span>アクセス情報</span>
        </p>
        <h1 class="common__h1 purpose__h1">アクセス情報</h1>
        <nav class="purpose__nav">
          <ul>
            <li>
              <a href="#main">メインエリア</a>
            </li>
            <li>
              <a href="#tora">寅さんエリア</a>
            </li>
            <li>
              <a href="#kochi">こち亀エリア</a>
            </li>
            <li>
              <a href="#wing">翼エリア</a>
            </li>
            <li>
              <a href="#monchi">モンチッチエリア</a>
            </li>
            <li>
              <a href="#iris">堀切菖蒲園</a>
            </li>
          </ul>
        </nav>
        <section class="purpose__section main">
          <h2 class="purpose__h2 main">メインエリア</h2>
          <div class="purpose__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17791.232396403855!2d139.85580936026577!3d35.76965282502254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2sTokyo%20University%20of%20Science%20-%20Katsushika%20Campus!5e0!3m2!1sen!2smy!4v1762657766838!5m2!1sen!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="purpose__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="purpose__list">
            <li>
              <p class="purpose__label walk">徒歩</p>
              <p class="purpose__detail">約20分</p>
            </li>
            <li>
              <p class="purpose__label cycle">自転車</p>
              <p class="purpose__detail">約5分</p>
            </li>
            <li>
              <p class="purpose__label taxi">タクシー</p>
              <p class="purpose__detail">約10分</p>
            </li>
            <li>
              <p class="purpose__label bus">バス</p>
              <p class="purpose__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="purpose__link" href=""> バスの時刻表はこちら </a>
          <a class="common__btn-i purpose__btn" href="">
            イベント一覧をチェック
          </a>
        </section>
        <section class="purpose__section tora">
          <h2 class="purpose__h2 tora">寅さんエリア</h2>
          <div class="purpose__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17791.232396403855!2d139.85580936026577!3d35.76965282502254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2sTokyo%20University%20of%20Science%20-%20Katsushika%20Campus!5e0!3m2!1sen!2smy!4v1762657766838!5m2!1sen!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="purpose__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="purpose__list">
            <li>
              <p class="purpose__label walk">徒歩</p>
              <p class="purpose__detail">約20分</p>
            </li>
            <li>
              <p class="purpose__label cycle">自転車</p>
              <p class="purpose__detail">約5分</p>
            </li>
            <li>
              <p class="purpose__label taxi">タクシー</p>
              <p class="purpose__detail">約10分</p>
            </li>
            <li>
              <p class="purpose__label bus">バス</p>
              <p class="purpose__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="purpose__link" href=""> バスの時刻表はこちら </a>
          <a class="common__btn-i purpose__btn" href="">
            イベント一覧をチェック
          </a>
        </section>
        <section class="purpose__section kochi">
          <h2 class="purpose__h2 kochi">こち亀エリア</h2>
          <div class="purpose__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17791.232396403855!2d139.85580936026577!3d35.76965282502254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2sTokyo%20University%20of%20Science%20-%20Katsushika%20Campus!5e0!3m2!1sen!2smy!4v1762657766838!5m2!1sen!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="purpose__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="purpose__list">
            <li>
              <p class="purpose__label walk">徒歩</p>
              <p class="purpose__detail">約20分</p>
            </li>
            <li>
              <p class="purpose__label cycle">自転車</p>
              <p class="purpose__detail">約5分</p>
            </li>
            <li>
              <p class="purpose__label taxi">タクシー</p>
              <p class="purpose__detail">約10分</p>
            </li>
            <li>
              <p class="purpose__label bus">バス</p>
              <p class="purpose__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="purpose__link" href=""> バスの時刻表はこちら </a>
          <a class="common__btn-i purpose__btn" href="">
            イベント一覧をチェック
          </a>
        </section>
        <section class="purpose__section wing">
          <h2 class="purpose__h2 wing">翼エリア</h2>
          <div class="purpose__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17791.232396403855!2d139.85580936026577!3d35.76965282502254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2sTokyo%20University%20of%20Science%20-%20Katsushika%20Campus!5e0!3m2!1sen!2smy!4v1762657766838!5m2!1sen!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="purpose__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="purpose__list">
            <li>
              <p class="purpose__label walk">徒歩</p>
              <p class="purpose__detail">約20分</p>
            </li>
            <li>
              <p class="purpose__label cycle">自転車</p>
              <p class="purpose__detail">約5分</p>
            </li>
            <li>
              <p class="purpose__label taxi">タクシー</p>
              <p class="purpose__detail">約10分</p>
            </li>
            <li>
              <p class="purpose__label bus">バス</p>
              <p class="purpose__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="purpose__link" href=""> バスの時刻表はこちら </a>
          <a class="common__btn-i purpose__btn" href="">
            イベント一覧をチェック
          </a>
        </section>
        <section class="purpose__section monchi">
          <h2 class="purpose__h2 monchi">モンチッチエリア</h2>
          <div class="purpose__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17791.232396403855!2d139.85580936026577!3d35.76965282502254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2sTokyo%20University%20of%20Science%20-%20Katsushika%20Campus!5e0!3m2!1sen!2smy!4v1762657766838!5m2!1sen!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="purpose__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="purpose__list">
            <li>
              <p class="purpose__label walk">徒歩</p>
              <p class="purpose__detail">約20分</p>
            </li>
            <li>
              <p class="purpose__label cycle">自転車</p>
              <p class="purpose__detail">約5分</p>
            </li>
            <li>
              <p class="purpose__label taxi">タクシー</p>
              <p class="purpose__detail">約10分</p>
            </li>
            <li>
              <p class="purpose__label bus">バス</p>
              <p class="purpose__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="purpose__link" href=""> バスの時刻表はこちら </a>
          <a class="common__btn-i purpose__btn" href="">
            イベント一覧をチェック
          </a>
        </section>
        <section class="purpose__section iris">
          <h2 class="purpose__h2 iris">堀切菖蒲園</h2>
          <div class="purpose__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17791.232396403855!2d139.85580936026577!3d35.76965282502254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2sTokyo%20University%20of%20Science%20-%20Katsushika%20Campus!5e0!3m2!1sen!2smy!4v1762657766838!5m2!1sen!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="purpose__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="purpose__list">
            <li>
              <p class="purpose__label walk">徒歩</p>
              <p class="purpose__detail">約20分</p>
            </li>
            <li>
              <p class="purpose__label cycle">自転車</p>
              <p class="purpose__detail">約5分</p>
            </li>
            <li>
              <p class="purpose__label taxi">タクシー</p>
              <p class="purpose__detail">約10分</p>
            </li>
            <li>
              <p class="purpose__label bus">バス</p>
              <p class="purpose__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="purpose__link" href=""> バスの時刻表はこちら </a>
          <a class="common__btn-i purpose__btn" href="">
            イベント一覧をチェック
          </a>
        </section>
        <p class="purpose__txt-last">
          「全国みどりと花のフェアかつしか」には<br class="pc-none">
          公共交通機関でお越しください。
        </p>
      </article>
      <%-include(`${relative_path}_partial/_footer`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
    </div>
    <%- include( `${relative_path}_partial/_foot`,{lang:lang,pageID:pageID,relative_path:relative_path}) %>
  </body>
</html>
