<%
var pageID = "access";
var lang = "ja";
var relative_path = "../";
var myMeta = meta[lang][pageID];
%>
<!DOCTYPE html>
<html lang="<%= lang %>">
  <%-include(`${relative_path}_partial/_head`,{lang:lang,pageID:pageID,relative_path:relative_path})%>

  <body>
    <div class="page">
      <%-include(`${relative_path}_partial/_header`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
      <article class="access__wrapper">
        <div class="access__bg"></div>
        <p class="common__bread l-page">
          <span
            ><a href="https://test-bloom-your-future-katsushika.entacl.net/"
              >TOP</a
            ></span
          ><span>アクセス情報</span>
        </p>
        <h1 class="common__h1 access__h1">アクセス情報</h1>
        <nav class="access__nav nav-swiper swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide main">
              <a href="#anchor-main">メインエリア</a>
            </li>
            <li class="swiper-slide tora">
              <a href="#anchor-tora">寅さんエリア</a>
            </li>
            <li class="swiper-slide kochi">
              <a href="#anchor-kochi">こち亀エリア</a>
            </li>
            <li class="swiper-slide wing">
              <a href="#anchor-wing">翼エリア</a>
            </li>
            <li class="swiper-slide monchi">
              <a href="#anchor-monchi">モンチッチエリア</a>
            </li>
            <li class="swiper-slide iris">
              <a href="#anchor-iris">堀切菖蒲園</a>
            </li>
          </ul>
        </nav>
        <section id="anchor-main" class="access__section main">
          <h2 class="access__h2 main">メインエリア</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.1870111296193!2d139.8624741!3d35.7707823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601885656680ef8f%3A0xc2a63802952b3e8f!2sKatsushika%20Niijuku%20Mirai%20Park!5e0!3m2!1sja!2smy!4v1763952431246!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約5分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                京成バス金町駅北口（乗車）から東金町二丁目（降車）約5分
              </p>
            </li>
          </ul>
          <a
            class="access__link"
            href="https://transfer.navitime.biz/keiseibus/pc/diagram/BusDiagram?orvCode=00180958&course=0003900421&stopNo=1"
            target="_blank"
          >
            バスの時刻表はこちら
          </a>
          <a class="access__btn" href="<%= relative_path %>event/?area=0">
            イベント一覧をチェック
          </a>
        </section>
        <section id="anchor-tora" class="access__section tora">
          <h2 class="access__h2 tora">寅さんエリア</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.7269198253834!2d139.87781437525408!3d35.7575162257806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601885bbb6bf3a5d%3A0x30228173e9d0243f!2sShibamata%20Park!5e0!3m2!1sja!2smy!4v1763952749049!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">京成柴又駅から柴又公園へのアクセス</p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <!-- <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li> -->
          </ul>
          <!-- <a class="access__link" href=""> バスの時刻表はこちら </a> -->
          <a class="access__btn" href="<%= relative_path %>event/?area=1">
            イベント一覧をチェック
          </a>
        </section>
        <section id="anchor-kochi" class="access__section kochi">
          <h2 class="access__h2 kochi">こち亀エリア</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.3787766638343!2d139.84459217525443!3d35.76607092530971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188f8fa7f46537%3A0x6fc5f08d6732f173!2sKameari%20Ririo%20Park!5e0!3m2!1sja!2smy!4v1763952938057!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">JR亀有駅から亀有リリオパークへのアクセス</p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約約1分</p>
            </li>
            <!-- <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li> -->
          </ul>
          <!-- <a class="access__link" href=""> バスの時刻表はこちら </a> -->
          <a class="access__btn" href="<%= relative_path %>event/?area=2">
            イベント一覧をチェック
          </a>
        </section>
        <section id="anchor-wing" class="access__section wing">
          <h2 class="access__h2 wing">翼エリア</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.622663657174!2d139.84017217525297!3d35.73549752699196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188f6824fec0d1%3A0xd79bb7bd9672ee83!2sShibue%20Park!5e0!3m2!1sja!2smy!4v1763953050225!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">京成立石駅から渋江公園へのアクセス</p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <!-- <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li> -->
          </ul>
          <!-- <a class="access__link" href=""> バスの時刻表はこちら </a> -->
          <a class="access__btn" href="<%= relative_path %>event/?area=4">
            イベント一覧をチェック
          </a>
        </section>
        <section id="anchor-monchi" class="access__section monchi">
          <h2 class="access__h2 monchi">モンチッチエリア</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.3964875003926!2d139.85616117525208!3d35.71646632803854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018878e1fa22c83%3A0x5318d8505382e6a5!2sShin-Koiwa%20Station%20South%20Front%20Square!5e0!3m2!1sja!2smy!4v1763953194365!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">
            JR新小岩駅から新小岩駅南口駅前広場へのアクセス
          </p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約1分</p>
            </li>
            <!-- <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li> -->
          </ul>
          <!-- <a class="access__link" href=""> バスの時刻表はこちら </a> -->
          <a class="access__btn" href="<%= relative_path %>event/?area=5">
            イベント一覧をチェック
          </a>
        </section>
        <section id="anchor-iris" class="access__section iris">
          <h2 class="access__h2 iris">堀切菖蒲園</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.3304594901188!2d139.82350867525338!3d35.74268162659686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188f08cf7d6789%3A0x9b8666dd66096726!2sHorikiri%20Iris%20Garden!5e0!3m2!1sja!2smy!4v1763953285579!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">京成堀切菖蒲園駅から堀切菖蒲園へのアクセス</p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <!-- <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li> -->
          </ul>
          <!-- <a class="access__link" href=""> バスの時刻表はこちら </a> -->
          <a class="access__btn" href="<%= relative_path %>event/?area=3">
            イベント一覧をチェック
          </a>
        </section>
        <p class="access__txt-last">
          「全国みどりと花のフェアかつしか」には<br class="pc-none">
          公共交通機関でお越しください。
        </p>
      </article>
      <%-include(`${relative_path}_partial/_footer`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
    </div>
    <%- include( `${relative_path}_partial/_foot`,{lang:lang,pageID:pageID,relative_path:relative_path}) %>
  </body>
</html>
