<%
var pageID = "access";
var lang = "ja";
var relative_path = "../";
var myMeta = meta[lang][pageID];
%>
<!DOCTYPE html>
<html lang="<%= lang %>">
  <%-include(`${relative_path}_partial/_head`,{lang:lang,pageID:pageID,relative_path:relative_path})%>

  <body>
    <div class="page">
      <%-include(`${relative_path}_partial/_header`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
      <article class="access__wrapper">
        <div class="access__bg"></div>
        <p class="common__bread l-page">
          <span
            ><a href="https://test-bloom-your-future-katsushika.entacl.net/"
              >TOP</a
            ></span
          ><span>アクセス情報</span>
        </p>
        <h1 class="common__h1 access__h1">アクセス情報</h1>
        <nav class="access__nav nav-swiper swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide main">
              <a href="#anchor-main">メインエリア</a>
            </li>
            <li class="swiper-slide tora">
              <a href="#anchor-tora">寅さんエリア</a>
            </li>
            <li class="swiper-slide kochi">
              <a href="#anchor-kochi">こち亀エリア</a>
            </li>
            <li class="swiper-slide wing">
              <a href="#anchor-wing">翼エリア</a>
            </li>
            <li class="swiper-slide monchi">
              <a href="#anchor-monchi">モンチッチエリア</a>
            </li>
            <li class="swiper-slide iris">
              <a href="#anchor-iris">堀切菖蒲園</a>
            </li>
          </ul>
        </nav>
        <section id="anchor-main" class="access__section main">
          <h2 class="access__h2 main">メインエリア</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25897.169891538833!2d139.863431!3d35.771784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2z5p2x5Lqs55CG56eR5aSn5a2mIOiRm-mjvuOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2smy!4v1763087989652!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約20分</p>
            </li>
            <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="access__link" href=""> バスの時刻表はこちら </a>
          <a class="access__btn" href=""> イベント一覧をチェック </a>
        </section>
        <section id="anchor-tora" class="access__section tora">
          <h2 class="access__h2 tora">寅さんエリア</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25897.169891538833!2d139.863431!3d35.771784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2z5p2x5Lqs55CG56eR5aSn5a2mIOiRm-mjvuOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2smy!4v1763087989652!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約20分</p>
            </li>
            <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="access__link" href=""> バスの時刻表はこちら </a>
          <a class="access__btn" href=""> イベント一覧をチェック </a>
        </section>
        <section id="anchor-kochi" class="access__section kochi">
          <h2 class="access__h2 kochi">こち亀エリア</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25897.169891538833!2d139.863431!3d35.771784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2z5p2x5Lqs55CG56eR5aSn5a2mIOiRm-mjvuOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2smy!4v1763087989652!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約20分</p>
            </li>
            <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="access__link" href=""> バスの時刻表はこちら </a>
          <a class="access__btn" href=""> イベント一覧をチェック </a>
        </section>
        <section id="anchor-wing" class="access__section wing">
          <h2 class="access__h2 wing">翼エリア</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25897.169891538833!2d139.863431!3d35.771784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2z5p2x5Lqs55CG56eR5aSn5a2mIOiRm-mjvuOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2smy!4v1763087989652!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約20分</p>
            </li>
            <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="access__link" href=""> バスの時刻表はこちら </a>
          <a class="access__btn" href=""> イベント一覧をチェック </a>
        </section>
        <section id="anchor-monchi" class="access__section monchi">
          <h2 class="access__h2 monchi">モンチッチエリア</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25897.169891538833!2d139.863431!3d35.771784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2z5p2x5Lqs55CG56eR5aSn5a2mIOiRm-mjvuOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2smy!4v1763087989652!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約20分</p>
            </li>
            <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="access__link" href=""> バスの時刻表はこちら </a>
          <a class="access__btn" href=""> イベント一覧をチェック </a>
        </section>
        <section id="anchor-iris" class="access__section iris">
          <h2 class="access__h2 iris">堀切菖蒲園</h2>
          <div class="access__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25897.169891538833!2d139.863431!3d35.771784!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018857ad443098d%3A0xf79b3de52fef127b!2z5p2x5Lqs55CG56eR5aSn5a2mIOiRm-mjvuOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2smy!4v1763087989652!5m2!1sja!2smy"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p class="access__txt">
            JR金町駅・京成金町駅から葛飾にいじゅくみらい公園へのアクセス
          </p>
          <ul class="access__list">
            <li>
              <p class="access__label walk">徒歩</p>
              <p class="access__detail">約20分</p>
            </li>
            <li>
              <p class="access__label cycle">自転車</p>
              <p class="access__detail">約5分</p>
            </li>
            <li>
              <p class="access__label taxi">タクシー</p>
              <p class="access__detail">約10分</p>
            </li>
            <li>
              <p class="access__label bus">バス</p>
              <p class="access__detail">
                バスターミナル乗車約15分「金町」停留所下車
              </p>
            </li>
          </ul>
          <a class="access__link" href=""> バスの時刻表はこちら </a>
          <a class="access__btn" href=""> イベント一覧をチェック </a>
        </section>
        <p class="access__txt-last">
          「全国みどりと花のフェアかつしか」には<br class="pc-none">
          公共交通機関でお越しください。
        </p>
      </article>
      <%-include(`${relative_path}_partial/_footer`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
    </div>
    <%- include( `${relative_path}_partial/_foot`,{lang:lang,pageID:pageID,relative_path:relative_path}) %>
  </body>
</html>
