<%
var pageID = "sponsor-detail";
var lang = "ja";
var relative_path = "../../";
var myMeta = meta[lang][pageID];
%>
<!DOCTYPE html>
<html lang="<%= lang %>">
<%-include(`${relative_path}_partial/_head`,{lang:lang,pageID:pageID,relative_path:relative_path})%>

<body>
  <%- include(`${relative_path}_partial/_body-after`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
  <div class="page">
    <%-include(`${relative_path}_partial/_header`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
    <article class="detail sponsor-detail">
      <div class="detail__wrap">
        <p class="common-bread detail__bread">
          <span><a href="">TOP</a></span><span><a href="">募集情報</a></span><span>募集情報詳細</span>
        </p>
        <div class="detail__header">
          <div class="detail__inner">
            <h1 class="detail__header-title">募集名入ります募集名入ります募集名入ります募集名入ります募集名入ります</h1>
          </div>
        </div>
        <div class="detail__content">
          <div class="detail__inner">
            <div class="detail__content-wrap">
              <p class="sponsor-detail__postdate">掲載日　<span>2026.5.15</span></p>
              <div class="detail__content-block">
                <h2>募集期間</h2>
                <p>2026年5月15日〜6月15日</p>
              </div>
              <div class="detail__content-block">
                <h2>募集内容</h2>
                <div class="detail__content-img">
                  <img src="<%= relative_path %>assets/img/event/media_2.png" alt="">
                </div>
                <p>開催テーマに基づき、多種多様な団体や企業に出典募集します。<br>
                  また来場者の興味やニーズに合わせた出典内容にすることで、<br>
                  本フェアの統一感を高め、出店者のみならず主催者、来場者等の一体感を高めます。<br>
                  これらの協賛展示により、新たなコミュニティを形成し、本フェア終了後も活動や購入等の継続を目指します。</p>
              </div>
              <div class="detail__content-block">
                <h2>会場</h2>
                <p>にいじゅくみらい公園</p>
              </div>
              <div class="detail__content-block">
                <h2>応募資格</h2>
                <p>応募資格がはいります応募資格がはいります応募資格がはいります応募資格がはいります</p>
              </div>
              <div class="detail__content-block">
                <h2>その他</h2>
                <p>
                  その他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいりますその他内容がはいります
                </p>
              </div>
              <div class="sponsor-detail__contact">
                <p>以下お問い合わせより受付いたします。</p>
                <a href="" class="sponsor-detail__contact--btn">お問い合わせはこちら</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <%-include(`${relative_path}_partial/_footer`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
  </div>
  <%- include( `${relative_path}_partial/_foot`,{lang:lang,pageID:pageID,relative_path:relative_path}) %>
</body>

</html>