<%
var pageID = "event";
var lang = "ja";
var relative_path = "../";
var myMeta = meta[lang][pageID];
%>
<!DOCTYPE html>
<html lang="<%= lang %>">
  <%-include(`${relative_path}_partial/_head`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
  <body>
    <div class="page">
      <%-include(`${relative_path}_partial/_header`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
      <article class="event__wrapper">
        <div class="event__bg"></div>
        <p class="common-bread event__bread">
          <span>TOP</span><span>イベント情報</span>
        </p>
        <h1 class="common__h1 event__h1">イベント情報</h1>
        <div class="event__switch">
          <a id="event-calendar" class="event__switch-btn" href=""
            >イベントカレンダー<br class="pc-none">から探す</a
          >
          <a id="event-detail" class="event__switch-btn js-active" href=""
            >詳細を探す</a
          >
        </div>
        <section class="event__calendar">
          <h2 class="event__h2">イベントカレンダーから探す</h2>
          <a class="common__btn-i event__btn" href="./calendar/">
            各月毎のイベントはこちら
          </a>
        </section>
        <section class="event__form">
          <h2 class="event__h2">詳細から探す</h2>
          <form class="event__form-wrapper" method="get" action="">
            <div class="event__form-flex area">
              <input type="hidden" name="area" id="areaInput" value="">
              <div class="event__form-label area"></div>
              <div class="event__form-box area">
                <span
                  class="event__form-select--area"
                  data-area="main"
                  data-id="0"
                  >メインエリア</span
                >
                <span
                  class="event__form-select--area"
                  data-area="kochi"
                  data-id="2"
                  >こち亀エリア</span
                >
                <span
                  class="event__form-select--area"
                  data-area="monchi"
                  data-id="5"
                  >モンチッチエリア</span
                >
                <span
                  class="event__form-select--area"
                  data-area="wing"
                  data-id="4"
                  >翼エリア</span
                >
                <span
                  class="event__form-select--area"
                  data-area="iris"
                  data-id="3"
                  >堀切菖蒲園</span
                >
                <span
                  class="event__form-select--area"
                  data-area="tora"
                  data-id="2"
                  >寅さんエリア</span
                >
              </div>
              <div class="event__form-modal area" data-modal="modal1">
                <h5 class="pc-none">イベントエリア</h5>
                <div class="event__modal-flex area pc-none">
                  <div class="event__form-label area"></div>
                  <div class="event__form-box area in-modal">
                    <span
                      class="event__form-select--area main"
                      data-area="main"
                      data-id="0"
                      >メインエリア</span
                    >
                    <span
                      class="event__form-select--area kochi"
                      data-area="kochi"
                      data-id="2"
                      >こち亀エリア</span
                    >
                    <span
                      class="event__form-select--area monchi"
                      data-area="monchi"
                      data-id="5"
                      >モンチッチエリア</span
                    >
                    <span
                      class="event__form-select--area wing"
                      data-area="wing"
                      data-id="4"
                      >翼エリア</span
                    >
                    <span
                      class="event__form-select--area iris"
                      data-area="iris"
                      data-id="3"
                      >堀切菖蒲園</span
                    >
                    <span
                      class="event__form-select--area tora"
                      data-area="tora"
                      data-id="2"
                      >寅さんエリア</span
                    >
                  </div>
                </div>
                <div class="event__modal-map">
                  <picture>
                    <img
                      src="<%= relative_path %>assets/img/event/modal_area.png"
                      alt=""
                    >
                  </picture>
                  <ul>
                    <li class="map-btn js-active" data-area="main" data-id="0">
                      メインエリア
                    </li>
                    <li class="map-btn js-active" data-area="tora" data-id="1">
                      寅さんエリア
                    </li>
                    <li class="map-btn js-active" data-area="kochi" data-id="2">
                      こち亀エリア
                    </li>
                    <li class="map-btn js-active" data-area="iris" data-id="3">
                      堀切菖蒲園
                    </li>
                    <li class="map-btn js-active" data-area="wing" data-id="4">
                      翼エリア
                    </li>
                    <li
                      class="map-btn js-active"
                      data-area="monchi"
                      data-id="5"
                    >
                      モンチッチエリア
                    </li>
                  </ul>
                </div>
                <button
                  class="common__btn-w event__modal-map-btn"
                  type="button"
                >
                  現在地付近
                </button>
                <button class="common__btn-i event__modal-btn" type="submit">
                  検索する
                </button>
                <button class="event__modal-next" type="button">
                  スキップする＞
                </button>
                <button class="event__modal-close" type="button">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
            <div class="event__form-flex date">
              <input type="hidden" name="from" id="startDateInput" value="">
              <input type="hidden" name="to" id="endDateInput" value="">
              <div class="event__form-label date"></div>
              <div class="event__form-box date">
                <div class="event__date-start">
                  <strong>開始日</strong>
                  <p>2026.10.15</p>
                </div>
                <div class="event__date-wave">～</div>
                <div class="event__date-end">
                  <strong>終了日</strong>
                  <p>2026.10.17</p>
                </div>
              </div>
              <div class="event__form-modal date" data-modal="modal2">
                <h5 class="pc-none">日付</h5>
                <div class="event__modal-flex date">
                  <div class="event__form-label date"></div>
                  <div class="event__form-box date in-modal">
                    <div class="event__date-start">
                      <strong>開始日</strong>
                      <p>2026.10.15</p>
                    </div>
                    <div class="event__date-wave">～</div>
                    <div class="event__date-end">
                      <strong>終了日</strong>
                      <p>2026.10.17</p>
                    </div>
                  </div>
                </div>
                <div class="event__modal-date">
                  <div class="event__date-flex top">
                    <div class="event__modal-date-start">
                      <p>開始日</p>
                      <div class="event__modal-date-show">
                        <strong class="">15</strong>
                        <div>
                          <p class="day">日</p>
                          <p class="month">10月</p>
                        </div>
                      </div>
                    </div>
                    <div class="event__modal-date-arrow"></div>
                    <div class="event__modal-date-end">
                      <p>終了日</p>
                      <div class="event__modal-date-show">
                        <strong class="">17</strong>
                        <div>
                          <p class="day">火</p>
                          <p class="month">10月</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="event__date-flex bot">
                    <button class="sp-none" type="button">本日</button>
                    <div class="event__modal-date-cal left-side">
                      <div class="event__date-control before">
                        <button
                          class="event__date-btn before"
                          type="button"
                        ></button>
                        <p class="label"></p>
                        <button
                          class="event__date-btn after"
                          type="button"
                        ></button>
                      </div>
                      <div class="event__modal-date-days">
                        <span>日</span>
                        <span>月</span>
                        <span>火</span>
                        <span>水</span>
                        <span>木</span>
                        <span>金</span>
                        <span>土</span>
                      </div>
                      <div class="event__modal-date-dates">
                        
                      </div>
                    </div>
                    <div class="event__modal-date-cal right-side sp-none">
                      <div class="event__date-control after">
                        <button
                          class="event__date-btn before"
                          type="button"
                        ></button>
                        <p class="label"></p>
                        <button
                          class="event__date-btn after"
                          type="button"
                        ></button>
                      </div>
                      <div class="event__modal-date-days">
                        <span>日</span>
                        <span>月</span>
                        <span>火</span>
                        <span>水</span>
                        <span>木</span>
                        <span>金</span>
                        <span>土</span>
                      </div>
                      <div class="event__modal-date-dates">
                        
                      </div>
                    </div>
                  </div>
                </div>
                <button class="common__btn-i event__modal-btn" type="submit">
                  検索する
                </button>
                <button class="event__modal-next" type="button">
                  スキップする＞
                </button>
                <button class="event__modal-close" type="button">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
            <div class="event__form-flex cate">
              <input type="hidden" name="cat" id="cateInput" value="">
              <div class="event__form-label cate"></div>
              <div class="event__form-box cate">
                <span class="event__form-select">カテゴリー</span>
              </div>
              <div class="event__form-modal cate" data-modal="modal3">
                <h5 cla>カテゴリー</h5>
                <div class="event__modal-flex cate">
                  <div class="event__form-label cate"></div>
                  <div class="event__form-box cate in-modal">
                    <span class="event__form-select">見る</span>
                  </div>
                </div>
                <ul class="event__modal-cate">
                  <li class="cat-btn js-active" data-cat="watch" data-id="0">
                    見る
                  </li>
                  <li class="cat-btn" data-cat="eat" data-id="1">食べる</li>
                  <li class="cat-btn" data-cat="buy" data-id="2">買う</li>
                  <li class="cat-btn" data-cat="learn" data-id="3">学ぶ</li>
                  <li class="cat-btn" data-cat="play" data-id="4">遊ぶ</li>
                </ul>
                <button class="common__btn-i event__modal-btn" type="submit">
                  検索する
                </button>
                <button class="event__modal-next" type="button">
                  スキップする＞
                </button>
                <button class="event__modal-close" type="button">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
            <div class="event__form-flex word">
              <div class="event__form-label word"></div>
              <textarea
                class="event__form-box word"
                placeholder="フリーワード"
                rows="1"
                name="keyword"
              ></textarea>
              <div class="event__form-modal word" data-modal="modal4">
                <h5>フリーワード</h5>
                <div class="event__modal-flex word">
                  <div class="event__form-label word in-modal"></div>
                  <textarea
                    class="event__form-box word"
                    placeholder="フリーワード"
                    rows="1"
                  ></textarea>
                </div>
                <ul class="event__modal-word">
                  <li class="js-active">フラワーアレンジ</li>
                  <li class="">フラワーフォトコンクール</li>
                  <li class="">フラワーロードフェア</li>
                </ul>
                <button class="common__btn-i event__modal-btn" type="submit">
                  検索する
                </button>
                <button class="event__modal-next" type="button">
                  スキップする＞
                </button>
                <button class="event__modal-close" type="button">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </form>
        </section>
        <section class="event__box">
          <h3 class="event__h3">検索結果<span>15</span>件</h3>
          <ul class="event__box-list">
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="main">メインエリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="main">メインエリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="kochi">こち亀エリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="kochi">こち亀エリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="monchi">モンチッチエリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="monchi">モンチッチエリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="wing">翼エリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="wing">翼エリア</span>
              </a>
            </li>
            <li>
              <a class="event__box-item" href="">
                <div class="event__box-img">
                  <img
                    src="<%= relative_path %>assets/img/event/thumb/1.png"
                    alt=""
                  >
                </div>
                <p class="event__box-date">2026年 5月16日（火）16：00〜</p>
                <h4 class="event__box-ttl">
                  葛飾で咲いているお花を使って、オリジナル石鹸作り体験ができます
                </h4>
                <div class="event__box-cat">
                  <span>#カテゴリー</span><span>#カテゴリー</span
                  ><span>#カテゴリー</span>
                </div>
                <span class="iris">堀切菖蒲園</span>
              </a>
            </li>
          </ul>
          <div class="event__pagination">
            <button class="active" type="button">1</button>
            <button type="button">2</button>
            <button type="button">3</button>
            <button class="small" type="button"></button>
            <button class="small" type="button"></button>
            <button class="small" type="button"></button>
            <button class="arrow-next" type="button"></button>
          </div>
        </section>
      </article>
      <%-include(`${relative_path}_partial/_footer`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
    </div>
    <%- include( `${relative_path}_partial/_foot`,{lang:lang,pageID:pageID,relative_path:relative_path}) %>
  </body>
</html>
