<%
var pageID = "sponsor";
var lang = "ja";
var relative_path = "../";
var myMeta = meta[lang][pageID];
%>
<!DOCTYPE html>
<html lang="<%= lang %>">
  <%-include(`${relative_path}_partial/_head`,{lang:lang,pageID:pageID,relative_path:relative_path})%>

  <body>
    <div class="page">
      <%-include(`${relative_path}_partial/_header`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
      <article class="sponsor__wrapper">
        <div class="sponsor__bg"></div>
        <p class="common-bread sponsor__bread">
          <span>TOP</span><span>協賛募集</span>
        </p>
        <h1 class="sponsor__h1">協賛募集</h1>
        <section class="sponsor__section about">
          <h2 class="sponsor__h2">
            「全国みどりと花のフェアかつしか」協賛について
          </h2>
          <div class="sponsor__about-img">
            <img src="<%= relative_path %>assets/img/common/logo.png" alt="">
          </div>
          <p>
            葛飾区では、みどりと花を通してコミュニティの活性化を図る「花いっぱいのまちづくり推進プロジェクト」を推進しています。<br>
            全国みどりと花のフェアかつしか（以下「フェア」という）の開催は、この取組を内外に発信することはもとより、本フェアの開催をきっかけに、『みどりと花で人と人とがつながり様々な課題を解決する、葛飾区ならではの新しいまちづくりの形』を未来につなげていくことを目指しています。<br>
            <br>
            開催にあたりまして、フェアの趣旨にご賛同の上、ご協賛いただける企業・団体等を、以下のとおり広く募ります。<br>
          </p>
          <div class="sponsor__about-container">
            <strong>
              葛飾区から協賛募集の委託を受けたと語る企業からの連絡にご注意ください。
            </strong>
            <p>
              葛飾区は協賛募集を区職員自らで行っており、外部への委託はしておりません。<br>
              このような電話を受けた際は、以下の電話番号まで確認のお電話をお願いいたします。<br>
              03-5654-6774（葛飾区環境部環境課内
              全国みどりと花のフェアかつしか実行委員会事務局）
            </p>
          </div>
        </section>
        <section class="sponsor__section overview">
          <h2 class="sponsor__h2">開催概要</h2>
          <div class="sponsor__overview-wrapper">
            <div class="sponsor__overview-container">
              <h3>名称</h3>
              <p class="center medium">全国みどりと花のフェアかつしか</p>
            </div>
            <div class="sponsor__overview-container">
              <h3>会場</h3>
              <p>
                【メイン会場】<br>
                葛飾にいじゅくみらい公園（葛飾区新宿6-3-2）<br>
                <br>
                【サテライト会場】<br>
                曳舟川親水公園広場ゾーン、新小岩駅周辺<br>
                <br>
                【フラワースポット】<br>
                金町駅周辺、亀有駅周辺、曳舟川親水公園博物館前、渋江公園、南葛飾高等学校、<br>
                四つ木つばさ公園、柴又公園、柴又帝釈天周辺、新小岩駅周辺、東京理科大学図書館棟<br>
                ※フラワースポットとは銅像や駅周辺の花装飾及び展示などを行う場所<br>
                <br>
                【連携会場】<br>
                堀切菖蒲園、都立水元公園
              </p>
              <div class="sponsor__overview-img">
                <img
                  src="<%= relative_path %>assets/img/sponsor/map.png"
                  alt=""
                >
              </div>
            </div>
            <div class="sponsor__overview-container">
              <h3>開催期間</h3>
              <p class="medium">
                2026年5月16日（土）～<br>
                6月14日（日）
              </p>
            </div>
          </div>
        </section>
        <section class="sponsor__section detail">
          <h2 class="sponsor__h2">協賛内容</h2>
          <h3 class="sponsor__h3">協賛カテゴリーの設定</h3>
          <p>以下のとおり協賛カテゴリーを設定しいたします。</p>
          <p class="sponsor__detail-atten">
            ※個人の方は資金協賛のみが対象となります。<br>
            ※企業・団体はいずれか又は複数のお申込みが可能となります。
          </p>
          <div class="sponsor__detail-wrapper">
            <h3 class="sponsor__h3">協賛カテゴリー</h3>
            <div class="sponsor__detail-container">
              <h4>資金協賛</h4>
              <p>
                本フェアの趣旨に賛同する企業・団体・個人から協賛金をご提供いただきます。
              </p>
            </div>
            <div class="sponsor__detail-container">
              <h4>物品等協賛</h4>
              <p>
                本フェアの運営に必要な資材、物品、施設、設備や役務等をご提供又は無償貸与いただきます。
              </p>
              <p class="sponsor__detail-atten">
                ※物品、役務の協賛は金銭に換算し算定します。原則として定価を用い、定価の提示が難しい場合は、
                　見積書などの資料をご提供願います。<br>
                ※協賛いただきたい物品は、以下の「協賛物品募集リスト」のとおりです。
                　リストは例示ですので、リストにない物品を協賛いただく場合はご相談ください。
              </p>
              <a class="sponsor__detail-btn pdf" href="">
                協賛物品募集リスト（219.6KB）
              </a>
              <p class="sponsor__detail-atten mt20">令和7年7月1日時点です。</p>
            </div>
            <div class="sponsor__detail-container">
              <h4>広告協賛</h4>
              <p>
                協賛者が所管する広報媒体及び広告物掲示場所等をご提供いただきます。
              </p>
              <p class="sponsor__detail-atten">
                ※協賛内容は、申込書の申込内容へ具体的にご記入ください。<br>
                （例）
                電車・バス・駅・空港などにおける交通広告、商業施設・商店街などにおける屋外広告物、テレビ・ラジオ・新聞・雑誌等のマスメディア広告　等
              </p>
            </div>
          </div>
          <h3 class="sponsor__h3">協賛ランクの設定</h3>
          <p>協賛カテゴリーごとに次の協賛ランクを設定いたします。</p>
          <div class="sponsor__rank">
            <div class="sponsor__rank-container">
              <h4>資金協賛</h4>
              <div class="sponsor__rank-box plat">
                <p>プラチナパートナー</p>
                <strong>300<span>万円～</span></strong>
              </div>
              <div class="sponsor__rank-box gold">
                <p>ゴールドパートナー</p>
                <strong>100<span>万円～</span></strong>
              </div>
              <div class="sponsor__rank-box silver">
                <p>シルバーパートナー</p>
                <strong>30<span>万円～</span></strong>
              </div>
              <div class="sponsor__rank-box bronze">
                <p>ブロンズパートナー</p>
                <strong>10<span>万円～</span></strong>
              </div>
              <div class="sponsor__rank-box supp">
                <p>サポーター（個人）</p>
                <strong>1<span>万円～</span></strong>
              </div>
            </div>
            <div class="sponsor__rank-container">
              <h4>物品等協賛</h4>
              <div class="sponsor__rank-box plat">
                <p>スペシャルサプライヤー</p>
                <strong>100<span>万円相当額以上</span></strong>
              </div>
              <div class="sponsor__rank-box supp">
                <p>サプライヤー</p>
                <strong>10<span>万円相当額以上</span></strong>
              </div>
            </div>
            <div class="sponsor__rank-container">
              <h4>広告協賛</h4>
              <div class="sponsor__rank-box plat">
                <p>スペシャルサプライヤー</p>
                <strong>100<span>万円相当額以上</span></strong>
              </div>
              <div class="sponsor__rank-box supp">
                <p>サプライヤー</p>
                <strong>10<span>万円相当額以上</span></strong>
              </div>
            </div>
          </div>
          <div class="sponsor__deadline">
            <h3>申込期限</h3>
            <p>
              フェアの開催に向けた進捗状況や物品等の調達状況等により、必要に応じて申込期限の設定、変更、延長等を行います。
            </p>
          </div>
          <h3 class="sponsor__h3">協賛特典</h3>
          <p>
            協賛カテゴリー毎にランク分けをし、協賛ランクに応じた特典を提供いたします。
          </p>
          <p class="sponsor__detail-atten">
            ※個人の方の協賛特典は、資金協賛の「サポーター」のみが対象となります。
          </p>
          <p>
            協賛特典については、以下「全国みどりと花のフェアかつしか　協賛特典一覧表」をご覧ください。<br>
            申込時期によっては協賛特典を提供できない場合があります。<br>
            各特典の締切りは、必要に応じて、「全国みどりと花のフェアかつしか　協賛特典一覧表」に提示します。
          </p>
          <a class="sponsor__detail-btn pdf benefits" href="">
            全国みどりと花のフェアかつしか協賛特典一覧表（309.6KB）
          </a>
        </section>
        <section class="sponsor__section howto">
          <h2 class="sponsor__h2">協賛のお申込み方法</h2>
          <p>
            物品等協賛及び広告協賛のお申込みをご検討されている方は、<span
              class="underline"
              >事務局へ事前にご相談の上</span
            >、お申し込みください。
          </p>
          <div class="sponsor__howto-wrapper">
            <div class="sponsor__howto-container">
              <h4>電子申込</h4>
              <p>
                以下のリンク先（外部リンク）より、必要事項をご入力のうえ、お申し込みください。
              </p>
              <a class="sponsor__howto-btn no-icon center" href=""
                >電子申込はこちらから</a
              >
            </div>
            <div class="sponsor__howto-container">
              <h4>
                申込書<br>
                <span>（メール·郵送·窓口持参等）</span>
              </h4>
              <p>
                以下の添付ファイル「全国みどりと花のフェアかつしか協賛申込書」に必要事項をご記入のうえ、ページ下部にある問い合わせ·申込先までご提出ください。
              </p>
              <a class="sponsor__howto-btn pdf" href=""
                >全国みどりと花のフェアかつしか協賛申込書（412.3KB）</a
              >
              <a class="sponsor__howto-btn xls" href=""
                >全国みどりと花のフェアかつしか協賛申込書（41.2KB）</a
              >
              <p class="sponsor__howto-atten">
                ※物品等協賛及び広告協賛の場合は見積書を添付してください。
              </p>
              <a class="sponsor__howto-btn xls" href=""
                >全国みどりと花のフェアかつしか協賛募集要項（320.4KB）</a
              >
            </div>
          </div>
        </section>
      </article>
      <%-include(`${relative_path}_partial/_footer`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
    </div>
    <%- include( `${relative_path}_partial/_foot`,{lang:lang,pageID:pageID,relative_path:relative_path}) %>
  </body>
</html>
