<%
var pageID = "support";
var lang = "ja";
var relative_path = "../";
var myMeta = meta[lang][pageID];
%>
<!DOCTYPE html>
<html lang="<%= lang %>">
  <%-include(`${relative_path}_partial/_head`,{lang:lang,pageID:pageID,relative_path:relative_path})%>

  <body>
    <div class="page">
      <%-include(`${relative_path}_partial/_header`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
      <article class="support__wrapper">
        <div class="support__bg"></div>
        <p class="common__bread l-page">
          <span
            ><a href="https://test-bloom-your-future-katsushika.entacl.net/"
              >TOP</a
            ></span
          ><span>協賛募集</span>
        </p>
        <h1 class="support__h1">協賛募集</h1>
        <section class="support__section about">
          <h2 class="support__h2">
            <span class="ml">「</span>全国みどりと花のフェアかつしか<span
              class="mr"
              >」</span
            ><br class="pc-none">協賛について
          </h2>
          <div class="support__about-img">
            <img src="<%= relative_path %>assets/img/common/logo.png" alt="">
          </div>
          <p>
            葛飾区では、みどりと花を通してコミュニティの活性化を図る「花いっぱいのまちづくり推進プロジェクト」を推進しています。<br>
            全国みどりと花のフェアかつしか（以下「フェア」という）の開催は、この取組を内外に発信することはもとより、本フェアの開催をきっかけに、『みどりと花で人と人とがつながり様々な課題を解決する、葛飾区ならではの新しいまちづくりの形』を未来につなげていくことを目指しています。<br>
            <br>
            開催にあたりまして、フェアの趣旨にご賛同の上、ご協賛いただける企業・団体等を、以下のとおり広く募ります。<br>
          </p>
          <div class="support__about-container">
            <strong>
              葛飾区から協賛募集の委託を受けたと語る企業からの連絡にご注意ください。
            </strong>
            <p>
              葛飾区は協賛募集を区職員自らで行っており、外部への委託はしておりません。<br>
              このような電話を受けた際は、以下の電話番号まで確認のお電話をお願いいたします。<br>
              03-5654-6774（葛飾区環境部環境課内
              全国みどりと花のフェアかつしか実行委員会事務局）
            </p>
          </div>
        </section>
        <section class="support__section overview">
          <h2 class="support__h2">開催概要</h2>
          <div class="support__overview-wrapper">
            <div class="support__overview-container">
              <h3>名称</h3>
              <p class="center medium">全国みどりと花のフェアかつしか</p>
            </div>
            <div class="support__overview-container">
              <h3>会場</h3>
              <p>
                【メイン会場】<br>
                葛飾にいじゅくみらい公園（葛飾区新宿6-3-2）<br>
                <br>
                【サテライト会場】<br>
                曳舟川親水公園広場ゾーン、新小岩駅周辺<br>
                <br>
                【フラワースポット】<br>
                金町駅周辺、亀有駅周辺、曳舟川親水公園博物館前、渋江公園、南葛飾高等学校、<br>
                四つ木つばさ公園、柴又公園、柴又帝釈天周辺、新小岩駅周辺、東京理科大学図書館棟<br>
                <span
                  >※フラワースポットとは銅像や駅周辺の花装飾及び展示などを行う場所</span
                ><br>
                <br>
                【連携会場】<br>
                堀切菖蒲園、都立水元公園
              </p>
              <div class="support__overview-img">
                <img
                  src="<%= relative_path %>assets/img/support/map.png"
                  alt=""
                >
              </div>
            </div>
            <div class="support__overview-container">
              <h3>開催<br class="sp-none">期間</h3>
              <p class="medium">
                2026年5月16日（土）～<br class="pc-none">
                6月14日（日）
              </p>
            </div>
          </div>
        </section>
        <section class="support__section detail">
          <h2 class="support__h2">協賛内容</h2>
          <h3 class="support__h3">協賛カテゴリーの設定</h3>
          <p>以下のとおり協賛カテゴリーを設定しいたします。</p>
          <p class="support__detail-atten">
            ※個人の方は資金協賛のみが対象となります。<br class="pc-none">
            ※企業・団体はいずれか又は複数のお申込みが可能となります。
          </p>
          <div class="support__detail-wrapper">
            <h3 class="support__h3">協賛カテゴリー</h3>
            <div class="support__detail-container">
              <h4>資金協賛</h4>
              <div class="support__detail-content">
                <p>
                  本フェアの趣旨に賛同する企業・団体・個人から協賛金をご提供いただきます。
                </p>
              </div>
            </div>
            <div class="support__detail-container">
              <h4>物品等協賛</h4>
              <div class="support__detail-content">
                <p>
                  本フェアの運営に必要な資材、物品、施設、設備や役務等をご提供又は無償貸与いただきます。
                </p>
                <p class="support__detail-atten">
                  ※物品、役務の協賛は金銭に換算し算定します。原則として定価を用い、定価の提示が難しい場合は、<br>
                  　見積書などの資料をご提供願います。<br>
                </p>
                <p class="support__detail-atten mt0">
                  ※協賛いただきたい物品は、以下の「協賛物品募集リスト」のとおりです。<br>
                  　リストは例示ですので、リストにない物品を協賛いただく場合はご相談ください。
                </p>
                <a class="support__detail-btn left" href="">
                  <span class="pdf"> 協賛物品募集リスト（219.6KB）</span>
                </a>
                <p class="support__detail-atten mt20">
                  令和7年7月1日時点です。
                </p>
              </div>
            </div>
            <div class="support__detail-container">
              <h4>広告協賛</h4>
              <div class="support__detail-content">
                <p>
                  協賛者が所管する広報媒体及び広告物掲示場所等をご提供いただきます。
                </p>
                <p class="support__detail-atten">
                  ※協賛内容は、申込書の申込内容へ具体的にご記入ください。<br>
                </p>
                <p class="support__detail-atten mt0">
                  （例）
                  電車・バス・駅・空港などにおける交通広告、商業施設・商店街などにおける屋外広告物、テレビ・ラジオ・新聞・雑誌等のマスメディア広告　等
                </p>
              </div>
            </div>
          </div>
          <h3 class="support__h3">協賛ランクの設定</h3>
          <p>協賛カテゴリーごとに次の協賛ランクを設定いたします。</p>
          <div class="support__rank">
            <div class="support__rank-container">
              <h4>資金協賛</h4>
              <div class="support__rank-box plat">
                <p>プラチナパートナー</p>
                <strong>300<span>万円～</span></strong>
              </div>
              <div class="support__rank-box gold">
                <p>ゴールドパートナー</p>
                <strong>100<span>万円～</span></strong>
              </div>
              <div class="support__rank-box silver">
                <p>シルバーパートナー</p>
                <strong>30<span>万円～</span></strong>
              </div>
              <div class="support__rank-box bronze">
                <p>ブロンズパートナー</p>
                <strong>10<span>万円～</span></strong>
              </div>
              <div class="support__rank-box supp">
                <p>サポーター（個人）</p>
                <strong>1<span>万円～</span></strong>
              </div>
            </div>
            <div class="support__rank-container">
              <h4>物品等協賛</h4>
              <div class="support__rank-box plat hght2">
                <p>スペシャルサプライヤー</p>
                <strong>100<span>万円相当額以上</span></strong>
              </div>
              <div class="support__rank-box supp hght2">
                <p>サプライヤー</p>
                <strong>10<span>万円相当額以上</span></strong>
              </div>
            </div>
            <div class="support__rank-container">
              <h4>広告協賛</h4>
              <div class="support__rank-box plat hght2">
                <p>スペシャルメディア<br>パートナー</p>
                <strong>100<span>万円相当額以上</span></strong>
              </div>
              <div class="support__rank-box supp hght2">
                <p>メディアパートナー</p>
                <strong>10<span>万円相当額以上</span></strong>
              </div>
            </div>
          </div>
          <div class="support__deadline">
            <h3>申込期限</h3>
            <p>
              フェアの開催に向けた進捗状況や物品等の調達状況等により、必要に応じて申込期限の設定、変更、延長等を行います。
            </p>
            <p class="support__deadline-atten sp-none">
              ※期限の設定等を行う際は、ホームページ等で周知いたします。
            </p>
          </div>
          <h3 class="support__h3">協賛特典</h3>
          <p class="mt60">
            協賛カテゴリー毎にランク分けをし、協賛ランクに応じた特典を提供いたします。
          </p>
          <p class="support__detail-atten">
            ※個人の方の協賛特典は、資金協賛の「サポーター」のみが対象となります。
          </p>
          <p>
            協賛特典については、以下「全国みどりと花のフェアかつしか　協賛特典一覧表」をご覧ください。<br>
            申込時期によっては協賛特典を提供できない場合があります。<br>
            各特典の締切りは、必要に応じて、「全国みどりと花のフェアかつしか　協賛特典一覧表」に提示します。
          </p>
          <a class="support__detail-btn benefits" href="">
            <span class="pdf"
              >全国みどりと花のフェアかつしか協賛特典一覧表（309.6KB）</span
            >
          </a>
        </section>
        <section class="support__section howto">
          <h2 class="support__h2">協賛のお申込み方法</h2>
          <p>
            物品等協賛及び広告協賛のお申込みをご検討されている方は、<span
              class="underline"
              >事務局へ事前にご相談の上</span
            >、お申し込みください。
          </p>
          <div class="support__howto-wrapper">
            <div class="support__howto-container">
              <h4>電子申込</h4>
              <div class="support__howto-content">
                <p>
                  以下のリンク先（外部リンク）より、必要事項をご入力のうえ、お申し込みください。
                </p>
                <a class="support__howto-btn no-icon center" href=""
                  >電子申込はこちらから</a
                >
              </div>
            </div>
            <div class="support__howto-container">
              <h4>
                申込書<br>
                <span>（メール·郵送·窓口持参等）</span>
              </h4>
              <div class="support__howto-content">
                <p class="medium">
                  以下の添付ファイル「全国みどりと花のフェアかつしか協賛申込書」に必要事項をご記入のうえ、ページ下部にある問い合わせ·申込先までご提出ください。
                </p>
                <a class="support__howto-btn" href=""
                  ><span class="pdf"
                    >全国みどりと花のフェアかつしか協賛申込書（412.3KB）</span
                  ></a
                >
                <a class="support__howto-btn" href=""
                  ><span class="xls"
                    >全国みどりと花のフェアかつしか協賛申込書（41.2KB）</span
                  ></a
                >
                <p class="support__howto-atten">
                  ※物品等協賛及び広告協賛の場合は見積書を添付してください。
                </p>
                <a class="support__howto-btn" href=""
                  ><span class="xls"
                    >全国みどりと花のフェアかつしか協賛募集要項（320.4KB）</span
                  ></a
                >
              </div>
            </div>
          </div>
          <h3 class="support__h3 mt50">申込み後の流れ</h3>
          <div class="support__howto-wrapper">
            <div class="support__howto-container">
              <h4 class="small">01</h4>
              <h5>決定通知の送付</h5>
              <div class="support__howto-txt">
                <p>
                  申し込み後、実行委員会より「ご協賛についてのご案内（申込決定通知）」を送付します。
                </p>
              </div>
            </div>
            <div class="support__howto-container mt40">
              <h4 class="small bar">02</h4>
              <h5>お打合せ</h5>
              <div class="support__howto-txt">
                <p>具体的な協賛内容や特典手続等について、お打合せします。</p>
                <p class="support__howto-atten">
                  ※資金協賛の場合は、申込決定通知に記載の指定口座へ協賛金のお振込みをお願いします。<br>
                  ※手続等のご連絡は、フェア運営委託業者から行う場合もございます。
                </p>
              </div>
            </div>
          </div>
          <div class="support__term">
            <h3 class="support__h3 left">注意事項</h3>
            <p class="support__term-txt">
              （1）地震、台風、津波、その他の天変地異、伝染病の蔓延、戦争、暴動、内乱その他主催者の責めに帰さない事由により、やむを得ず本フェアを縮小開催又は中止（以下「中止等」という）とする場合があります。<span
                class="medium"
                >中止等となった場合においても協賛金の返還は行わないものとします</span
              >。<br>
              また、これに伴う仕入れ金の損害や営業機会の損失、その他いかなる名目においても、金銭補償は一切いたしかねますので、予めご了承ください。<br>
            </p>
            <p class="support__term-txt">
              （2）原則、競合排除はいたしません。協賛内容によっては、お受けすることができない場合があります。<br>
            </p>
            <p class="support__term-txt">
              （3）本フェアのロゴマーク・スローガン（以下「ロゴ等」という）を掲載する場合、その版下作成等についてはご協賛者様に行っていただいたうえで、事務局まで提出してください。ロゴ等を使用する場合は葛飾区が定めた「
              <a
                class="link"
                href="https://bloom-your-future-katsushika.jp/wordpress/wp-content/themes/katsushika-event/_assets/files/logomanual250725.pdf"
                target="_blank"
                >ロゴマニュアル</a
              >」に拠るものとします。<br>
            </p>
            <p class="support__term-txt">
              （4）協賛金の振込手数料や協賛物品の送料及び設置・撤去費用は、ご協賛者様でご負担をお願いいたします。なお、これらの費用は協賛額の算定に含めないものとします。<br>
            </p>
            <p class="support__term-txt">
              （5）以下に該当する協賛及びフェア趣旨にそぐわないと事務局が判断する協賛はお断りすることがあります。<br>
              ①政治性及び宗教性のあるものや公序良俗に反するもの <br>
              ②風俗営業等の規制及び業務の適正化等に関する法律（昭和23年法律第122号）第2条に規定する営業に該当するもの又はこれに類するもの<br>
              ③暴力団員等と密接な関係を有するもの<br>
            </p>
            <p class="support__term-txt">
              （6）物品等協賛及び広告協賛の金額換算の上限は100万円といたします。100万円を超える協賛をいただいた場合でも、協賛ランクは「スペシャル」となりますのでご了承ください。<br>
            </p>
            <p class="support__term-txt">
              （7）資金協賛、物品等協賛及び広告協賛を併せてお申し込みいただいた場合、それぞれの協賛カテゴリーに応じた協賛特典を提供いたします（合算して協賛ランクを決定するものではありません）。<br>
            </p>

            <p class="support__term-txt">
              （8）全国みどりと花のフェアかつしか実行委員会は免税事業者のため、インボイス対応はしておりませんので、予めご了承ください。 
            </p>
          </div>
        </section>
      </article>
      <%-include(`${relative_path}_partial/_footer`,{lang:lang,pageID:pageID,relative_path:relative_path})%>
    </div>
    <%- include( `${relative_path}_partial/_foot`,{lang:lang,pageID:pageID,relative_path:relative_path}) %>
  </body>
</html>
