<header class="header <%= pageID %>">
  <div class="header__inner">
    <a class="header__logo" href="/">
      <img src="<%= relative_path %>assets/data/webp/common/logo.webp" alt="Bloom Your Future Katsushika">
    </a>

    <div class="header__info">
      <p class="header__date">
        <span class="header__date--year">2026年</span>
        <span class="header__date--period">5/16<img src="<%= relative_path %>assets/data/webp/common/icon_polygon.webp" alt="">6/14</span>
      </p>
      <p class="header__countdown">
        開催まで <span class="header__countdown--num">360<small>日</small></span>
      </p>
    </div>

    <button id="js-header-btn" class="header__btn" aria-label="メニューを開閉">
      <div class="header__btn--line">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>

    <nav id="js-header-nav" class="header__nav">
      <ul class="header__menu">
          <li class="header__menu--item menu-about">
            <a href="#">開催概要</a>
          </li>
          <li class="header__menu--item menu-area">
            <a href="#">開催エリア</a>
          </li>
          <li class="header__menu--item menu-event">
            <a href="#">イベント情報</a>
            <ul class="header__submenu">
              <li class="header__submenu--item">
                <a href="">&gt; イベントカレンダー</a>
              </li>
            </ul>
          </li>
          <li class="header__menu--item menu-sponsorship">
            <a href="#">募集情報</a>
            <ul class="header__submenu">
              <li class="header__submenu--item">
                <a href="">&gt; 協力企業・団体一覧</a>
              </li>
            </ul>
          </li>
          <li class="header__menu--item menu-sponsorinfo">
            <a href="#">協賛募集</a>
          </li>
          <li class="header__menu--item menu-access">
            <a href="#">アクセス情報</a>
          </li>
          <li class="header__menu--item menu-sub">
            <a href="#">お知らせ</a>
          </li>
          <li class="header__menu--item menu-sub">
            <a href="#">関連サイト</a>
          </li>
      </ul>

      <div class="header__utility">
        
        <div id="google_translate_element"></div>

        <div class="header__search">
          <form id="siteSearchForm" class="header__search--form">
            <input class="header__search--input" id="siteSearchInput" type="text" placeholder="">
            <button class="header__search--button" type="submit">
              <img src="<%= relative_path %>assets/data/webp/common/header/icon_search.webp" alt="検索">
            </button>
          </form>
        </div>
          
        <script>
          document.getElementById("siteSearchForm").addEventListener("submit", function (e) {
            e.preventDefault();
            const q = document.getElementById("siteSearchInput").value.trim();
            if (q) {
              location.href = `/search/?q=${encodeURIComponent(q)}`;
            }
          });
        </script>        

        <a class="header__contact"href="#">お問い合わせ</a>

        <div class="header__sns">
          <a class="header__sns--item -x" href="https://x.com/katsu_midohana" target="_blank">
            <picture>
              <source
                srcset="<%= relative_path %>assets/data/webp/common/sns_x.webp"
                media="(min-width: 768px)"
              >
              <img src="<%= relative_path %>assets/data/webp/common/footer/sns_x.webp" alt="X">
            </picture>
          </a>
          <a class="header__sns--item -insta" href="https://www.instagram.com/katsushika_midorihanafair/" target="_blank">
            <picture>
              <source
                srcset="<%= relative_path %>assets/data/webp/common/sns_insta.webp"
                media="(min-width: 768px)"
              >
              <img src="<%= relative_path %>assets/data/webp/common/footer/sns_insta.webp" alt="Instagram">
            </picture>
          </a>
          <a class="header__sns--item -fb" href="https://www.facebook.com/profile.php?id=61576628410141" target="_blank">
            <picture>
              <source
                srcset="<%= relative_path %>assets/data/webp/common/sns_fb.webp"
                media="(min-width: 768px)"
              >
              <img src="<%= relative_path %>assets/data/webp/common/footer/sns_fb.webp" alt="facebook">
            </picture>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
  
  